@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<!--Header-->
<div class="text-center">
    <h1 style="font-family:Garamond, Times, serif; font-weight:bold" class="display-8">
        Privacy Compliant Controller for User Information
    </h1>
</div>

<div id="head-box" class="box-hilite">

    <div id="HeadTopHalf" class="box-top-image" style="height:129px; background-image:url(../images/StarsHalf.png)" width="100%">
    </div>

    <div id="HeadBottom" class="relative">
        <div class="box-top" style="padding:8px 12px 16px 20px; margin-bottom:10px">
            <div class="box-top-content" style="width:100%">
                <div class="box-zero-height no-mobile">
                    <img class="box-top-logo" alt="Boss image" src="~/images/T044.png">
                </div>
                <div class="large-text" title="Controls Data Access">
                    Provides for the creation of an emergency contact list.
                </div>

                <form id="StartContacts" method="get" action="~/Contacts/Display" style="vertical-align:baseline">
                    <div style="vertical-align:baseline; justify-content:flex-end">
                        <span class="no-narrow large-text" style="vertical-align:baseline"> just click --> </span>
                        <button data-control-name="topcard_start" aria-pressed="false" aria-label="Start" id="start" class="btn" onclick="setContents(this, 'Working')">
                            <span>Start</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Body-->
<div class="row">
    <div class="col-md-6">
        <h3>
            <a href="https://tcwiki.azurewebsites.net/index.php?title=Best_Practice_and_Example_Relying_Party">
            This Web Site shows:</a>
        </h3>
        <p>A user the advanatages of creating a list of contacts that can be accessed in time of emmergy when they cannot be expeded to provide the information coherently.</p>
        <p>A format for collecting user information in a central location that could be expanded to include other user stipulations about their care.</p>
        <p>A means for the contant person to modify their own data and to know when they are part of a user's care plan.</p>
    </div>
    <div class="col-md-6">
        <h3><a href="https://tcwiki.azurewebsites.net/index.php?title=User_Information"> Protecting User Information</a></h3>
        <p>Data use is limited to what the user wants others to see in emergency situations.</p>
        <p>User Redress of Grievance and Recovery of Access requires that we have a email address to contact you.</p>
        <p>A contact can learn that their information is included on this site using their email address.</p>
    </div>
</div>