@page
@model Controls.Pages.PrivacyLegalModel
@{
    ViewData["Title"] = "Privacy Policy Full Details";
}
<h1 style="font-family:Garamond, Times, serif; font-weight:bold">@ViewData["Title"]</h1>
<p>This page will contain links tp the full legal details on the privacy policy and terms of service as they evolve.</p>

<h3>Terms of Service</h3>

<table border="1" cellpadding="1" cellspacing="1" style="width: 577px;">
    <thead>
        <tr>
            <th scope="col" style="width: 122px;">Date</th>
            <th scope="col" style="width: 79px;">Version</th>
            <th scope="col" style="width: 358px;">Comments</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="width: 122px;">2019-03-03</td>
            <td style="width: 79px;"><a href="~/docs/TermsOfService-1-0.pdf">1.0</a></td>
            <td style="width: 358px;">Initial release</td>
        </tr>
    </tbody>
</table>
<h3>Privacy Policy</h3>

<table align="left" border="1" cellpadding="1" cellspacing="1" style="width: 579px;">
    <thead>
        <tr>
            <th scope="col" style="width: 123px;">Date</th>
            <th scope="col" style="width: 76px;">Version</th>
            <th scope="col" style="width: 362px;">Comments</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="width: 123px;">2019-03-03</td>
            <td style="width: 76px;"><a href="~/docs/PrivacyPolicy-1-0.pdf">1.0</a></td>
            <td style="width: 362px;">Initial release</td>
        </tr>
    </tbody>
</table>
<h3> </h3>

