@page
@using Controls.Areas.Contacts.Pages
@model AddContactModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "AddContact";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 style="display:inline">Add Contact</h1> for @Model.Username


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label>Email for Contact</label>
                <input asp-for="ContactEmail" class="form-control" />
                <span asp-validation-for="ContactEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Type (Personal, Medical(provider), Employer</label>
                <input asp-for="RelType" class="form-control" />
                <span asp-validation-for="RelType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Relationship (Spouse, Daughter, Parent)</label>
                <input asp-for="Relationship" class="form-control" />
                <span asp-validation-for="Relationship" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GivenNames" class="control-label"></label>
                <input asp-for="GivenNames" class="form-control" />
                <span asp-validation-for="GivenNames" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FamilyNames" class="control-label"></label>
                <input asp-for="FamilyNames" class="form-control" />
                <span asp-validation-for="FamilyNames" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phones" class="control-label"></label>
                <input asp-for="Phones" class="form-control" />
                <span asp-validation-for="Phones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Emails" class="control-label"></label>
                <input asp-for="Emails" class="form-control" />
                <span asp-validation-for="Emails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expiration" class="control-label"></label>
                <input asp-for="Expiration" class="form-control" />
                <span asp-validation-for="Expiration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="UserID" class="form-control" style="display:none" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
