@page
@using Controls.Areas.Contacts.Pages
@model AddContactModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "AddContact";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 style="display:inline">Add Contact</h1> for @Model.Username


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label>Email for Contact</label>
                <input asp-for="contactLink.Child" class="form-control" />
                <span asp-validation-for="contactLink.Child" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contactLink.Creation" class="control-label"></label>
                <input asp-for="contactLink.Creation" class="form-control" />
                <span asp-validation-for="contactLink.Creation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contactLink.LastUsed" class="control-label"></label>
                <input asp-for="contactLink.LastUsed" class="form-control" />
                <span asp-validation-for="contactLink.LastUsed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contactLink.Expires" class="control-label"></label>
                <input asp-for="contactLink.Expires" class="form-control" />
                <span asp-validation-for="contactLink.Expires" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contactLink.Type" class="control-label"></label>
                <input asp-for="contactLink.Type" class="form-control" />
                <span asp-validation-for="contactLink.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contactLink.Relationship" class="control-label"></label>
                <input asp-for="contactLink.Relationship" class="form-control" />
                <span asp-validation-for="contactLink.Relationship" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contactLink.GivenNames" class="control-label"></label>
                <input asp-for="contactLink.GivenNames" class="form-control" />
                <span asp-validation-for="contactLink.GivenNames" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contactLink.FamilyName" class="control-label"></label>
                <input asp-for="contactLink.FamilyName" class="form-control" />
                <span asp-validation-for="contactLink.FamilyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contactLink.Phones" class="control-label"></label>
                <input asp-for="contactLink.Phones" class="form-control" />
                <span asp-validation-for="contactLink.Phones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contactLink.AlternateEmail" class="control-label"></label>
                <input asp-for="contactLink.AlternateEmail" class="form-control" />
                <span asp-validation-for="contactLink.AlternateEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
