@page
@model Controls.Areas.Contacts.EditContactModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "EditContact";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h3 style="display:inline;margin-right:5px">Edit Contact </h3>  <span>for @Model.ce.ParentName</span>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ce.Id" />
            <div class="form-group">
                <label class="control-label">Contact Email (used to access data)</label>
                <input asp-for="@Model.ce.ChildEmail" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="ce.RelType" class="control-label"></label>
                <input asp-for="ce.RelType" class="form-control" />
                <span asp-validation-for="ce.RelType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ce.Relationship" class="control-label"></label>
                <input asp-for="ce.Relationship" class="form-control" />
                <span asp-validation-for="ce.Relationship" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ce.GivenNames" class="control-label"></label>
                <input asp-for="ce.GivenNames" class="form-control" />
                <span asp-validation-for="ce.GivenNames" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ce.FamilyName" class="control-label"></label>
                <input asp-for="ce.FamilyName" class="form-control" />
                <span asp-validation-for="ce.FamilyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ce.Phones" class="control-label"></label>
                <input asp-for="ce.Phones" class="form-control" />
                <span asp-validation-for="ce.Phones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ce.AlternateEmail" class="control-label"></label>
                <input asp-for="ce.AlternateEmail" class="form-control" />
                <span asp-validation-for="ce.AlternateEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ce.Expires" class="control-label"></label>
                <input asp-for="ce.Expires" class="form-control" />
                <span asp-validation-for="ce.Expires" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ce.Creation" class="control-label"></label>
                <input asp-for="ce.Creation" class="form-control" disabled />
                <span asp-validation-for="ce.Creation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ce.LastUsed" class="control-label"></label>
                <input asp-for="ce.LastUsed" class="form-control" disabled />
                <span asp-validation-for="ce.LastUsed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Display">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
