@page "/Identity/Account/Manage/SigninRequired"
@model Controls.Areas.Identity.Pages.Account.SigninRequiredModel
@{
}
<div class="form-group" style="display:@Model.isStart">
    <form method="get" action="~/Identity/Account/Login?returnUrl=Contacts/Display">
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">You must be signed into a registered account to change or remove data.</p>
        <p>All user information controlled by this site is associated with registered accounts.</p>
        <button id="redirect-signin" type="submit" class="btn btn-link">Click to sign in</button>
        <p>This site is designed to collect emergency contact information. We will not collect any information from you until you have provided a means
        for us to contact you for recovery or redress of grievance. That requires that we have a means to send you an email or text message.</p>
    </form>
</div>

<div class="form-group" style="display:@Model.isUser">
    <form method="get" action="~/Identity/Account/Login?returnUrl=Contacts/Display">
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">Signin was successful.</p>
        <p>All user information controlled by this site is associated with registered accounts.</p>
        <button id="redirect-signin" type="submit" class="btn btn-link">Click to restart</button>
        <p>
            This site is designed to collect emergency contact information. We will not collect any information from you until you have provided a means
            for us to contact you for recovery or redress of grievance. That requires that we have a means to send you an email or text message.
        </p>
        <p style="font-weight:300; font-stretch:expanded">This page is displayed only on browsers that strongly enforce same-site rules. The purpose of this page it to force a browser refresh.</p>
    </form>
</div>